input:read-only{
    background-color: whitesmoke;
}

#update-account-form.empty input{
    background-color: whitesmoke;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }